@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

body{
    background-image: url(./scr/background.png);
}

navbar{
    width: 100vw;
}

div.nav.items{
    width: 70vw;
}