/* Por defecto algunos elementos html tienen un padding y un margin. Al hacer el reset; */
*{
    margin: 0;
    padding: 0;
}
/* Aqui inicia el body */
body{
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    background: url(../img/background.png);
    height: 100vh;
    background-size: auto;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

nav{
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    
}
nav a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    flex-grow: 1;
    display: flex;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.item:hover{
    background-color: #efefef;
}
.selected{
    background-color: black;
    color: white;
}
nav img{
    height: 70px;
}
.logo-icon{
    margin-left: 10px;
}
nav a i{
    color: #767676;
    font-size: 1.5rem;
}

#mainlogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tablaRegistros{
    height: 50vh;
    overflow-y: scroll;
}